.catalog {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(389px, 1fr));
 gap: 1rem;
}

@media (max-width: 811px) {
 :root {
  font-size: 14px;
 }

 .catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1rem;
 }
}
