.page__popular,
.page__about,
.page__subscribe {
 margin: 7rem 0;
}

.about__inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.about__column {
 display: flex;
 flex-direction: column;
 flex-basis: 50%;
}

.about__column:nth-child(2) {
 align-items: flex-end;
}

.about__link {
 align-self: flex-start;
 margin-top: 2rem;
 text-transform: uppercase;
}

.title {
 display: block;
 font-size: 1.25rem;
 font-weight: 500;
 letter-spacing: 1px;
 line-height: 1.125rem;
}

.popular__title {
 margin-top: 2rem;
 margin-bottom: 2rem;
}

.about__mark {
 font-weight: 600;
}

.about__text {
 max-width: 500px;
}

.about__img-wrapper {
 position: relative;
 padding-bottom: 100%;
}

.slider {
 position: relative;
 height: 100vh;
 width: 100%;
 max-width: 1920px;
 margin: 0 auto;
 background-color: var(--text);
}

.slide__img {
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 object-fit: cover;
}

.slider__info {
 position: relative;
 padding: 0 3rem;
 margin: auto;
}

.info {
 max-width: 900px;
 box-sizing: content-box;
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
}

.info__text {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 flex-basis: 55%;
 text-transform: uppercase;
 color: var(--white);
 row-gap: 1.5rem;
}

.info__title {
 line-height: 2.5rem;
 font-size: 1.875rem;
 font-weight: 300;
}

.info__logo {
 display: block;
}

.info__img {
 width: 350px;
 height: auto;
}

.about__img {
 width: 500px;
 height: auto;
}

.popular__title {
 text-align: center;
}

@media (max-width: 821px) {
 .about__img {
  width: 300px;
  height: auto;
 }

 .page__popular,
 .page__about,
 .page__subscribe {
  margin: 5rem 0;
 }
}

@media (max-width: 600px) {
 .info__title {
  font-size: 1.5625rem;
  line-height: 2rem;
 }

 .about__inner {
  flex-direction: column;
  row-gap: 2rem;
 }

 .about__img {
  transform: translateX(-29px);
 }

 .about__text {
  max-width: 100%;
  text-align: center;
 }

 .about__link {
  align-self: center;
 }

 .info {
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
 }

 .info__text {
  text-align: center;
  flex-basis: auto;
  align-items: center;
 }

 .info__img {
  width: 230px;
 }

 .info__button {
  position: absolute;
  bottom: 3rem;
 }

 .page__popular,
 .page__about,
 .page__subscribe {
  margin: 4rem 0;
 }
}

@media (max-width: 480px) {
 :root {
  font-size: 13px;
 }

 .about__img {
  width: 100%;
  transform: translateX(-12px);
 }

 .page__popular,
 .page__about,
 .page__subscribe {
  margin: 3rem 0;
 }
}
