.page_contacts {
 padding-top: 2rem;
}

.contacts__title {
 text-align: center;
}

.contacts__list {
 display: flex;
 flex-direction: column;
 row-gap: 1rem;
}

.contacts__inner {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.contacts__list {
 padding-top: 2rem;
}

.contacts__email {
 color: var(--special);
}
