.catalog__item {
 display: flex;
 flex-direction: column;
 row-gap: 0.55rem;
}

.catalog__preview-wrapper {
 position: relative;
 padding-bottom: 100%;
}

.catalog__preview {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 10px;
}

.catalog__link {
 align-self: flex-start;
 letter-spacing: 1px;
 font-size: 14px;
 border-radius: 10px;
}

.catalog__title {
 font-size: 0.9375rem;
 line-height: 1.25rem;
 letter-spacing: 1px;
 text-transform: uppercase;
}

.catalog__bottom {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.catalog__price {
 font-weight: 600;
}

