.wrapper__header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  min-height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--border);
  background-color: var(--white);
}

.header__container {
  width: 100%;
}

.nav {
  display: flex;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.nav__button {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  margin-left: auto;
}

.nav__button:active,
.nav__button:focus {
  color: var(--special);
}

.link.active {
  pointer-events: none;
  color: var(--special);
}

.nav__item_logo {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.nav__link_logo {
  display: flex;
  height: 49px;
}

.nav__item:nth-child(4),
.nav__item:nth-child(5) {
  justify-self: end;
}

.mobile-menu__wrapper {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: opacity 300ms ease-in;
  background-color: rgb(0, 0, 0, 0.5);
}

.mobile-menu__inner {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 100vh;
  padding-top: 5rem;
  min-width: 200px;
  transform: translateX(250px);
  box-shadow: 0px 10px 10px var(--grey);
  background-color: var(--white);
  transition: transform 300ms ease-in;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.mobile-menu__link {
  font-size: 1.25rem;
}

.mobile-menu__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
}

.mobile-menu_active {
  transform: translateX(0);
}

.mobile-menu__wrapper_active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .nav__img {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 600px) {
  .nav__img {
    width: 100px;
    height: auto;
  }

  .nav__list {
    justify-content: center;
  }

  .nav__item:not(:nth-child(3)) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
  }

  .nav__button {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}
