.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__img {
  width: 700px;
  height: 100px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
