:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.875;
  font-weight: 300;
  font-size: 16px;

  --white: #ffffff;
  --text: #212020;
  --special: #e594ff;
  --special-hover: #eebefe;
  --special-2: #f4d455;
  --special-2-hover: #fff8de;
  --background: #ffffff;
  --grey: #84838e;
  --light-grey: #f9f9f9;
  --light-grey-tr: rgb(249, 249, 249, 0.5);
  --border: #d6d6d6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev{
  display: none !important;
}

input[type="radio"] {
  appearance: none;
  margin: 0;
}

label {
  cursor: pointer;
}

a {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
}

body {
  margin: 0;
  height: 100%;
  min-width: 320px;
  background-color: var(--background);
}

a {
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}

p {
  margin: 0;
}

html {
  height: 100%;
}

.root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

a::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--special);
  transition: width 0.5s;
}

a:not(.nav__link_img):hover::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  background-color: var(--text);
  transition: width 0.5s;
}

button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25rem;
  cursor: pointer;
  border: none;
  background: none;
  transition: all ease-in 300ms;
}

.button {
  border-radius: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  padding: 0.625rem 1.5625rem;
  background-color: var(--special);
}

input {
  border: none;
}

.button:hover {
  background-color: var(--special-hover);
}

.container {
  margin: 0 auto;
  max-width: 1230px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 0 15px;
  }
}
